/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Shrikhand", cursive;
}

header {
  padding: 15px 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 30px;
  position: relative;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(225, 225, 225);
  padding: 15px 0;
  justify-items: center;
  color: rgb(80, 80, 80);
  font-weight: 500;
}
.localisation .fa-solid {
  margin-right: 15px;
  margin-left: -15px;
}

.reservation {
  padding: 40px 30px;
  background-color: rgba(209, 209, 209, 0.247);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.reservation__title {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
}
.reservation__description {
  padding-top: 15px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}
.reservation__button {
  padding-top: 25px;
}

.fonctionnement {
  padding: 40px 30px;
}
.fonctionnement__title {
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .fonctionnement__title {
    text-align: center;
  }
}
.fonctionnement__explication {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement__explication ol {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .fonctionnement__explication ol {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .fonctionnement__explication ol li {
    padding-left: 30px;
    min-width: 280px;
    width: 27%;
  }
}

.explication__card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  min-width: 280px;
  margin-top: 20px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.explication__card:hover {
  color: #9356DC;
  background-color: #F5EDFF;
  cursor: pointer;
}
.explication__card--icon {
  position: absolute;
  left: 25px;
  font-size: 18px;
  opacity: 0.6;
}
@media screen and (min-width: 992px) {
  .explication__card--icon {
    left: 60px;
  }
}
.explication__card--icon:hover {
  color: #9356DC;
}
.explication__card--text {
  color: black;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
}
@media screen and (min-width: 992px) {
  .explication__card--text {
    font-size: 17px;
  }
}

.fonctionnement__explication {
  counter-reset: step;
}
.fonctionnement__explication li {
  position: relative;
}
.fonctionnement__explication li::before {
  counter-increment: step;
  content: counter(step);
  position: absolute;
  top: 40px;
  bottom: 0;
  right: 0;
  left: -10px;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .fonctionnement__explication li::before {
    width: 30px;
    height: 30px;
    left: 15px;
    top: 35px;
    font-size: 15px;
  }
}

.restaurants {
  padding: 40px 30px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .restaurants {
    align-items: center;
  }
}
.restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants h2 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 30px;
}
@media screen and (min-width: 992px) {
  .restaurants h2 {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .restaurants__position {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 80%;
  }
}

.card {
  min-width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 992px) {
  .card {
    min-width: 360px;
    width: 40%;
  }
}
.card:hover {
  opacity: 0.7;
}
.card__image {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.card__image--img {
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -57%);
}
.card__body {
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.card__body--name {
  font-size: 20px;
}
.card__body--name h3 {
  font-weight: 700;
  margin-bottom: 10px;
}
.card__body--heart {
  margin-right: 20px;
  font-size: 30px;
  position: relative;
}
.card__body--heart .fa-regular {
  position: absolute;
}
.card__body--heart .fa-solid {
  opacity: 0.4;
}

/*# sourceMappingURL=main.css.map */
