@import "../Utils/mixin";

footer {
    width: calc(100% - 40px);
    background-color: #353535;
    padding: 20px;
    color: white;
    @include tablette {
        @include flex-center;
        flex-direction: column;
    }
    .fa-handshake-angle {
        margin-left: -3px;
        margin-right: 7px;
        transform: scale(0.7,1);
    }
    h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    & ul {
        width: 100%;
        font-size: 16px;
        font-weight: 300;
        @include tablette {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
        }
        @include desktop {
            max-width: 80%;
        }
        & li {
            margin-bottom: 10px;
            & i{
                margin-right: 10px;
            }
            a{
                color: white ;
                text-decoration: none;
                &:hover {
                    color: $secondary-color;
                }
        }
    }
}
}