@import "../Utils/keyframes";

.menu__section--title, .menu__header, .menu {
    @include desktop {
    animation: apparition-menu 0.5s 0s ease-in-out forwards;
    }
}


@for $i from 1 through 4 {
    .menu__section ul > li:nth-child(#{$i}){
        opacity: 0;
        animation: apparition-card 0.5s $i*0.3s ease-in-out forwards;
    }
}
