@import "../Utils/variables";
@import "../Utils/mixin";

@import "../Utils/variables";
@import "../Utils/mixin";

.menu__header--heart, .card__body--heart {
    cursor: pointer;
    &:hover > .fa-solid-heart{
        transform: scale(1);
    }
    &:hover > .fa-regular-heart{
        transform: scale(0);
    }
}

.fa-regular-heart{
    transform-origin: bottom;
    transform: scale(1);
    @include transition-delay;
}


.fa-solid-heart {
    transform: scale(0);
    transform-origin: bottom;
    background: linear-gradient($primary-color,$secondary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include transition-delay;
}