@import "../Utils/variables";

.fa-solid-heart {
    opacity:0;
    background: linear-gradient($secondary-color,$primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 500ms cubic-bezier(0.55, 1.2, 0.93, 1);
    &:hover {
        cursor: pointer;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 1;
    }
}