@import "../Utils/mixin";
@import "../Utils/variables";
@import "../Utils/keyframes";

.card {
    &:hover .card__name--title {
        width: calc(100% - 60px);
        @include tablette {
            width: calc(100% - 80px);
        }
    }
    &:hover .card__price--description {
        width: calc(100% - 120px);
        @include tablette {
            width: calc(100% - 160px);
        }
    }
    &__price {
        :hover > & .card__price--number {
            transform: translateX(-60px);
            @include tablette {
                transform: translateX(-80px);
            }
    }
        &--number {
        @include transition-delay;
}
}
    &__animation {
        transform: translateX(60px);
        transform-origin: right;
        @include transition-delay;
        @include tablette {
            transform: translateX(80px);
        }
        :hover > & {
            transform: translateX(0px);
        }
    }
    &:hover .card__animation--icon {
        animation: rotation 500ms;
    }
}
