@import "../Utils/variables";

.fa-regular-heart {
    opacity: 1;
    transition-duration: opacity 250ms;
    -moz-transition-duration: opacity 250ms;
    -webkit-transition-duration: opacity 250ms;
    &:hover {
        opacity: 0;
    }
}

.fa-solid-heart {
    background: linear-gradient($secondary-color,$primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition-duration: opacity 250ms;
    -moz-transition-duration: opacity 250ms;
    -webkit-transition-duration: opacity 250ms;
    &:hover {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 1;
    }
}