@import "../Utils/mixin";
@import "../Utils/variables";
@import "../Utils/keyframes";

// Localisation //
.localisation {
    position: relative;
    text-align: center;
    &__form {
        background: transparent;
        border: none;
        font-size: 17px;
        width: 100%;
        background-color: #EAEAEA;
        padding: 15px 0;
        margin-left: auto;
        text-align: center;
        color: rgb(80, 80, 80);
        font-weight: 700;
        @include tablette {
            font-size: 20px;
        }
        @include desktop {
            font-size: 25px;
        }
    }
    &__icon {
        position: absolute;
        top: 30%;
        left: 22%;
        font-size: 17px;
        @include tablette {
            left: 35%;
            font-size: 20px;
        }
        @include desktop {
            top: 25%;
            font-size: 25px;
        }
    }
}

// Reservation // 
.reservation {
    padding: 40px 30px;
    background-color: rgba(209, 209, 209, 0.247);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 22px;
    }
    &__description {
        padding-top: 15px;
        text-align: center;
        font-size: 15px;
        font-weight: 300;
    }
    &__button {
        margin: 25px 0 20px 0;
    }
}

// Fonctionnement // 
.fonctionnement {
    padding: 40px 30px;
    &__title {
        font-weight: 700;
        font-size: 22px;
        padding-bottom: 10px;
        @include tablette {
            text-align: center;
        }
    }
    &__explication {
        @include flex-center;
        & ol{
        display:flex ;
        flex-direction: column;
        width: 100%;
        @include desktop {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            max-width: 80%;
           }
           & li {
            @include desktop {
                padding-left: 30px;
                min-width: 280px;
                width: 27%;
               }
           }
    }
}
}
.explication__card {
    @include flex-center;
    height: 60px;
    min-width: 200px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    @include transition-delay;
    &:hover {
        background-color:#F5EDFF ;
        cursor: pointer;
    }
    @include tablette {
        margin-bottom: 10px;
    }
    &--icon {
        position: absolute;
        left: 25px;
        font-size: 18px;
        color: grey;
        @include transition-delay;
        .explication__card & {
            background-color: #F6F6F6;
        }
        :hover > & {
            color: $primary-color;
        }
        @include desktop {
           left: 60px;
           }
    }
    &--text {
        color: black;
        text-align: center;
        font-weight: 700;
        font-size: 15px;
        @include tablette {
            font-size: 17px;
           }
    }
}

.fonctionnement__explication {
    counter-reset: step;
    & li {
        position: relative;
        &::before {
            counter-increment: step;
            content: counter(step);
            position: absolute;
            top: 40px;
            bottom: 0;
            right: 0;
            left: -10px;
            background-color: $primary-color;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            color: white;
            @include flex-center;
            font-size: 12px;
            z-index: 1;
            @include desktop {
                width: 30px;
                height: 30px;
                left: 15px;
                top: 35px;
                font-size: 15px;
               }
        }
    }
}

// Restaurant //
.restaurants {
    padding: 40px 30px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    @include desktop {
        align-items: center;
    }
    a {
        text-decoration: none;
        color: black;  
    }
    h2 {
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 30px;
        @include desktop {
            text-align: center;
        }
    }
    &__position {
        @include desktop {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            max-width: 80%;
        }
    }
}

.card {
    min-width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    @include transition-delay;
    @include desktop {
        min-width: 360px;
        width: 40%;
    }
    &:hover {
        box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.6);
    }
    &__image {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
        border-radius: 20px 20px 0 0;
        &--img {
            object-fit: cover; 
            width: 130%; 
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -57%);
        }   
    }
    &__body {
        height: 70px;
        margin: 20px;
        position: relative;
        &--name {
            font-size: 20px;
            position: relative;
            & h3 {
                font-weight: 700;
                margin-bottom: 10px;
            }
        }
        &--heart {
            height: 35px;
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            margin-right: 10px;
            font-size: 35px;
        }
        .fa-regular {
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
         }
         .fa-solid {
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
         }
    }
}

.new {
    position: relative;
    &::after {
        content: 'Nouveau';
        position: absolute;
        top:20px;
        right: 20px;
        background-color: $tertiary-color;
        padding: 10px;
        color: green;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
}