@import "../Utils/mixin";

.localisation {
    @include flex-center;
    width: 100%;
    background-color: #EAEAEA;
    padding: 15px 0;
    justify-items: center;
    color: rgb(80, 80, 80);
    font-weight: 500;
    .fa-solid {
        margin-right: 15px;
        margin-left: -15px;
    }
}