.reservation {
    padding: 40px 30px;
    background-color: rgba(209, 209, 209, 0.247);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 22px;
    }
    &__description {
        padding-top: 15px;
        text-align: center;
        font-size: 15px;
        font-weight: 300;
    }
    &__button {
        padding-top: 25px;
    }
}